NODE_ENV=production
PORT=3000
SESSION_SECRET=cambia_esta_clave_por_una_larga_y_aleatoria
ADMIN_EMAIL=admin@dreamsperfumes.com
ADMIN_PASSWORD=cambia_esta_clave_admin
ADMIN_NAME=Administrador DREAMS
WHATSAPP_NUMBER=542944502390
DATABASE_DIR=/data
